.navbar-brand {

  // padding: 30px;
  display: flex;
  justify-content: space-around;
}

 .navbar-brand:hover{
  color: firebrick !important;
}

.nav-logo {
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}

span {
  margin: 0 10px;
}
