.wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  .div-cont {
    border: 1px solid blue;
  }
  .product-card {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    margin: 3rem;
  }
  .product-card--img {
    height: 50%;
    /* background-color: whitesmoke; */
    max-width: 100%;
    overflow: hidden;
  }
  
  .product-card--img img {
    /* max-width: 100%; */
    width:100%;
    height:100%;
  
  /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit:scale-down;
  }
  
  .product-card--content {
    padding: 1rem;
  }
  
  .product-card--meta {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }



  .filter {
    width: 500px;
    margin: auto;
    text-align: center;
  }


  @media (max-width: 480px) {
      .filter {
          width: 200px;
          margin: auto;
          text-align: center;
      }
  }