.carousel-inner {
    overflow: hidden;
    max-height: 600px;
  }
  
  .social i{
    color:black;
    font-size: 3em;
    padding:5px 10px;
  }
  #social{
    padding:50px;
  }
  #who{
    padding:30px;
  }